# latex interim files
#####################
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.bak

# compiled target files
#####################
proposal2.pdf
template.pdf
main.pdf

# resultant proprietary format files
#####################
*.docx
*.doc

# Temporary files
#####################
*.swp

